@inherits LayoutComponentBase

<PageTitle>BlazorJL</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
        <AuthorizeView>
            <Authorized>

                <span class="ml-md-auto fs-5   fst-italic  fw-bold"  style="color:black" >
                    Usuario Conectado: @context.User.Claims.First().Value
                    <a href="/account/logout">Salir</a>
                </span>

            </Authorized>

            <NotAuthorized>
                <a href="login" class="ml-md-auto fs-5   fw-bold"   style="color:purple" >Iniciar Sesión</a>
            </NotAuthorized>
        </AuthorizeView>

        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

