@page "/"

<AuthorizeView Roles="Administrador">
    <Authorized Context="AuthenticationState">
        <h3 class=" fs-6 fw-bold text-capitalize" style="color:purple">Aplicación creada por: Seydi Johana Lara Fuentes-20201003422</h3>
        <br />
        <h1 class="text-center fw-bold" style="color:purple">¡Bienvenido Administrador!</h1>
    </Authorized>
</AuthorizeView>

<AuthorizeView Roles="Usuario">
    <Authorized Context="AuthenticationState">
        <h3 class=" fs-6 fw-bold text-capitalize" style="color:purple">Aplicación creada por: Seydi Johana Lara Fuentes-20201003422</h3>
        <br />
        <h1 class="text-center fw-bold" style="color:purple">¡Bienvenido Usuario!</h1>
    </Authorized>
</AuthorizeView>

<AuthorizeView>
    <NotAuthorized>
        <h3 class="text-center fs-5 fw-bold text-capitalize" style="color:purple">Aplicación creada por: Seydi Johana Lara Fuentes-20201003422</h3>
        <h3 class="text-center fs-5 fw-bold text-capitalize" style="color:purple">Examen III Parcial </h3>
        <h3 class="text-center fs-5 fw-bold text-capitalize" style="color:purple">Lenguaje de Programación III</h3>
        <h3 class="text-center fs-5 fw-bold text-capitalize" style="color:purple">Lic. Nahúm Casco</h3>
         <h1></h1>
    </NotAuthorized>
</AuthorizeView>

<br />

<AuthorizeView>
    <NotAuthorized>
        <br />
        <h1 class=" text-center fw-bold text-capitalize font-monospace" style="color:purple">Identifiquese para poder acceder a la aplicación</h1>
    </NotAuthorized>


</AuthorizeView>

